.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
}

#sidebar {
  z-index: 100;
  position: fixed;
  width: 270px;
  height: 100%;
  left: -270px;
  background: rgba(255, 255, 255, 0.9);
}

#sidebar.active {
  left: 0;
}

#sidebar h1 {
  font-size: 1.5rem;
  text-align: center;
}

#sidebar ul {
  margin: 0;
  padding: 0;
}

#sidebar ul li {
  list-style: none;
  padding: 15px 20px;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
}

#sidebar ul li:hover {
  background-color: #fff;
}

#toggle-btn {
  position: absolute;
  left: 280px;
  top: 9px;
  background-color: white;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
}

#toggle-btn span {
  display: block;
  width: 26px;
  height: 4px;
  background: #666;
  margin: 4px 2px;
}

#search {
  width: 90%;
  display: block;
  margin: 10px auto 10px;
  padding: 0 10px;
  height: 2.5rem;
  font-size: 1rem;
  border: 1px solid darkgrey;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  border-top: 1px solid darkgrey;
  background-color: #fff;
}

#map {
  height: 100vh;
  width: 100%;
}